In [1]:
from deepchecks.checks.integrity import LabelAmbiguity
from deepchecks.base import Dataset

In [2]:
dataset = Dataset(pd.DataFrame({"col1":[1,2,1,2,1,2,1,2,1,2],
                                "col2":[1,2,1,2,5,2,5,2,3,2],
                                "my_label":[2,3,4,4,4,3,4,5,6,4]}),
             label="my_label")

In [3]:
LabelAmbiguity().run(dataset)

,my_label,col1,col2
0,"[3, 4, 5]",2,2
1,"[2, 4]",1,1

In [4]:
LabelAmbiguity(n_to_show=1).run(dataset)

,my_label,col1,col2
0,"[3, 4, 5]",2,2

In [7]:
LabelAmbiguity(columns=['col1', 'my_label']).run(dataset)

,my_label,col1
0,"[2, 4, 6]",1
1,"[3, 4, 5]",2

In [ ]:
clean_dataset = Dataset(pd.DataFrame({"col1":[1,2,1,2,1,2,1,2,1,2],
                                      "col2":[1,2,1,2,5,2,5,2,3,2],
                                      "my_label":[2,3,2,3,4,3,4,3,6,3]}),
             label="my_label")