In [1]:
from deepchecks.checks.integrity.new_category import CategoryMismatchTrainTest
from deepchecks.base import Dataset
import pandas as pd

In [2]:
test_data = {"col1": ["somebody", "once", "told", "me"] * 10}
val_data = {"col1": ["the","world","is", "gonna", "role", "me"] * 10}
test = Dataset(pd.DataFrame(data=test_data), cat_features=["col1"])
val = Dataset(pd.DataFrame(data=val_data), cat_features=["col1"])

In [3]:
CategoryMismatchTrainTest().run(val, test)

,Percent of new categories in sample,New categories
Column,,
col1,75.00%,"['once', 'somebody', 'told']"

In [4]:
test_data = {"col1": ["a", "b", "a", "c"] * 10, "col2": ['a','b','b','q']*10}
val_data = {"col1": ["a","b","d"] * 10, "col2": ['a', '2', '1']*10}
test = Dataset(pd.DataFrame(data=test_data), cat_features=["col1","col2"])
val = Dataset(pd.DataFrame(data=val_data), cat_features=["col1", "col2"])

In [5]:
CategoryMismatchTrainTest().run(val, test)

,Percent of new categories in sample,New categories
Column,,
col1,25.00%,['c']
col2,75.00%,"['b', 'q']"