In [1]:
from deepchecks.checks import StringMismatch
import pandas as pd

data = {'col1': ['Deep', 'deep', 'deep!!!', '$deeP$', 'earth', 'foo', 'bar', 'foo?']}
df = pd.DataFrame(data=data)
StringMismatch().run(df)