In [1]:
import pandas as pd

%load_ext autoreload
%autoreload 2

In [11]:
from mlchecks import CheckSuite, ConditionResult, ConditionCategory, Dataset
from mlchecks.checks import *

def condition_exc(r):
    raise Exception('Failed because I need an example')

data = {
    'col1': ['', '#@$', 'Nan!', '#nan', '<NaN>'],
    'col2': ['gabbay', 'GABBAY!!!', 'is', '...', '?Gabbay?'],
    'col3': [1, 's', 'a', 'b', 'c'],
    'col4': ['a', 'a', 'a', 'a', 'a']
}

dataset = Dataset(pd.DataFrame(data=data))
suite = CheckSuite('My Single Suite',
    IsSingleValue(),
    MixedNulls().add_condition_different_nulls_not_more_than(3),
    StringMismatch().add_condition_no_variants(),
    StringMismatch().add_condition_ratio_variants_not_more_than(0.35),
    MixedTypes().add_condition_rare_type_ratio_not_less_than(0.4),
    MixedTypes().add_condition_rare_type_ratio_not_less_than(0.1),
    RareFormatDetection().add_condition('fail example', condition_exc)
)
suite

My Single Suite: [
	IsSingleValue
	MixedNulls(check_nan=True)
		Conditions:
			0: Not more than 3 different null types for all columns
	StringMismatch
		Conditions:
			0: No string variants for all columns
	StringMismatch_2
		Conditions:
			0: Not more than 35.00% variants for all columns
	MixedTypes
		Conditions:
			0: Rare type ratio is not less than 40.00% of samples in all columns
	MixedTypes_2
		Conditions:
			0: Rare type ratio is not less than 10.00% of samples in all columns
	RareFormatDetection(patterns=[<mlchecks.checks.integrity.rare_format_detection.Pattern object at 0x7f9f79aa3550>, <mlchecks.checks.integrity.rare_format_detection.Pattern object at 0x7f9f79aa3610>, <mlchecks.checks.integrity.rare_format_detection.Pattern object at 0x7f9f79aa3670>, <mlchecks.checks.integrity.rare_format_detection.Pattern object at 0x7f9f79aa36d0>, <mlchecks.checks.integrity.rare_format_detection.Pattern object at 0x7f9f79aa3760>, <mlchecks.checks.integrity.rare_format_detection.Pattern object at 0x7f9f79aa37f0>, <mlchecks.checks.integrity.rare_format_detection.Pattern object at 0x7f9f79aa3880>, <mlchecks.checks.integrity.rare_format_detection.Pattern object at 0x7f9f79aa3910>], rarity_threshold=0.05, min_unique_common_ratio=0.01, pattern_match_method=first)
		Conditions:
			0: fail example
]

In [12]:
result = suite.run(validation_dataset=dataset)
result

VBox(children=(HTML(value=''), IntProgress(value=0, bar_style='info', max=7, style=ProgressStyle(bar_color='#9…

Status,Check,Condition,More Info
✖,Mixed Nulls - Validation Dataset,Not more than 3 different null types for all columns,Found columns col1 with more than 3 null types
✖,Mixed Types - Validation Dataset,Rare type ratio is not less than 40.00% of samples in all columns,Found columns with low type ratio: col3
!,String Mismatch - Validation Dataset,No string variants for all columns,"Found columns with variants: {'col1': ['', 'nan'], 'col2': ['gabbay']}"
✓,String Mismatch - Validation Dataset,Not more than 35.00% variants for all columns,
✓,Mixed Types - Validation Dataset,Rare type ratio is not less than 10.00% of samples in all columns,

,col3
numbers,20.00%
strings,80.00%

,col4
Single unique value,a

,col3
numbers,20.00%
strings,80.00%

Check,Error
RareFormatDetection,Failed because I need an example