In [1]:
import pandas as pd

%load_ext autoreload
%autoreload 2

In [3]:
from mlchecks import CheckSuite, ConditionResult, ConditionCategory, Dataset
from mlchecks.checks import *

data = {
    'col1': ['', '#@$', 'Nan!', '#nan', '<NaN>'],
    'col2': ['gabbay', 'GABBAY!!!', 'is', '...', '?Gabbay?'],
    'col3': [1, 's', 'a', 'b', 'c']
}

dataset = Dataset(pd.DataFrame(data=data))
suite = CheckSuite('My Single Suite',
    IsSingleValue(),
    MixedNulls().add_condition_different_nulls_not_more_than(3),
    StringMismatch().add_condition_no_variants(),
    StringMismatch().add_condition_ratio_variants_not_more_than(0.35),
    MixedTypes().add_condition_rare_type_ratio_not_less_than(0.4),
    MixedTypes().add_condition_rare_type_ratio_not_less_than(0.1)
)
suite

My Single Suite: [
	IsSingleValue
	MixedNulls(check_nan=True)
		Conditions:
			0: Not more than 3 different null types for all columns
	StringMismatch
		Conditions:
			0: No string variants for all columns
	StringMismatch_2
		Conditions:
			0: Not more than 35.00% variants for all columns
	MixedTypes
		Conditions:
			0: Rare type ratio is not less than 40.00% of samples in all columns
	MixedTypes_2
		Conditions:
			0: Rare type ratio is not less than 10.00% of samples in all columns
]

In [4]:
result = suite.run(validation_dataset=dataset)
result

VBox(children=(HTML(value=''), IntProgress(value=0, bar_style='info', max=6, style=ProgressStyle(bar_color='#9…

Status,Check,Condition,More Info
✖,Mixed Nulls - Validation Dataset,Not more than 3 different null types for all columns,Found columns col1 with more than 3 null types
✖,String Mismatch - Validation Dataset,No string variants for all columns,"Found columns with variants: {'col1': ['', 'nan'], 'col2': ['gabbay']}"
✖,Mixed Types - Validation Dataset,Rare type ratio is not less than 40.00% of samples in all columns,Found columns with low type ratio: col3
✓,String Mismatch - Validation Dataset,Not more than 35.00% variants for all columns,
✓,Mixed Types - Validation Dataset,Rare type ratio is not less than 10.00% of samples in all columns,

,col3
numbers,20.00%
strings,80.00%

,col3
numbers,20.00%
strings,80.00%

Check
Single Value in Column - Validation Dataset