In [1]:
import pandas as pd

%load_ext autoreload
%autoreload 2

In [9]:
from mlchecks import CheckSuite
from mlchecks.checks import *

suite = CheckSuite('My Single Suite',
    IsSingleValue(),
    MixedNulls().add_condition_max_different_nulls(3).add_condition_max_different_nulls(10, 'petal length (cm)'),
    MixedTypes(ignore_columns=['sepal length (cm)']),
    StringMismatch()
)
suite

My Single Suite: [
	IsSingleValue({})
	MixedNulls({}) Conditions: [
		0: No more than 3 null types for all columns
		1: No more than 10 null types for columns: [petal length (cm)]
	]
	MixedTypes({'ignore_columns': ['sepal length (cm)']})
	StringMismatch({})
]

In [3]:
suite['MixedNulls']

MixedNulls({}) Conditions: [
	0: No more than 3 null types for all columns
	1: No more than 10 null types for columns: [petal length (cm)]
]

In [4]:
suite['My Inner Suite']['StringMismatch']

StringMismatch({})

In [5]:
suite['MixedNulls'].update_param('check_nan', False)

In [12]:
from sklearn.datasets import load_iris

df = load_iris(return_X_y=False, as_frame=True)
df = pd.concat([df.data, df.target], axis=1)

train = df[:100]
val = df[100:]

result = suite.run(train_dataset=train, validation_dataset=val, check_datasets_policy='both')
result

VBox(children=(HTML(value=''), IntProgress(value=0, bar_style='info', max=4, style=ProgressStyle(bar_color='#9â€¦

,Pass,Check,Condition,Actual,Category
0,True,Mixed Nulls - Train Dataset,No more than 3 null types for all columns,,ConditionCategory.FAILURE
1,True,Mixed Nulls - Train Dataset,No more than 10 null types for columns: [petal length (cm)],,ConditionCategory.FAILURE
2,True,Mixed Nulls - Validation Dataset,No more than 3 null types for all columns,,ConditionCategory.FAILURE
3,True,Mixed Nulls - Validation Dataset,No more than 10 null types for columns: [petal length (cm)],,ConditionCategory.FAILURE

In [13]:
result.display_verbose()

,Pass,Check,Condition,Actual,Category
0,True,Mixed Nulls - Train Dataset,No more than 3 null types for all columns,,ConditionCategory.FAILURE
1,True,Mixed Nulls - Train Dataset,No more than 10 null types for columns: [petal length (cm)],,ConditionCategory.FAILURE
2,True,Mixed Nulls - Validation Dataset,No more than 3 null types for all columns,,ConditionCategory.FAILURE
3,True,Mixed Nulls - Validation Dataset,No more than 10 null types for columns: [petal length (cm)],,ConditionCategory.FAILURE

,target
Single unique value,2