In [1]:
from mlchecks.checks.integrity.data_duplicates import data_duplicates
from mlchecks.base import Dataset, CheckSuite
from datetime import datetime
import pandas as pd

In [2]:
ds = pd.DataFrame({"col1":[1,2,1,2,1,2,1,2,1,2], "col2":[1,2,1,2,1,2,1,2,1,2],"col3":[2,3,4,4,4,3,4,5,6,4]})

In [3]:
data_duplicates(ds)

,col1,col2,col3
Number of Duplicates,,,
3,1,1,4
2,2,2,3
2,2,2,4

In [4]:
data_duplicates(ds, n_to_show=2)

,col1,col2,col3
Number of Duplicates,,,
3,1,1,4
2,2,2,3

In [5]:
data_duplicates(ds, columns=["col1"])

,col1
Number of Duplicates,
5,1
5,2

In [6]:
data_duplicates(ds, ignore_columns=["col3"])

,col1,col2
Number of Duplicates,,
5,1,1
5,2,2

In [7]:
ds_no_dups = ds = pd.DataFrame({"col1":[1,2,1,2,1,2,1,2,1,2], "col2":[1,2,1,2,1,2,1,2,1,2], "col3":[1,2,3,4,5,6,7,8,9,0]})

In [8]:
data_duplicates(ds_no_dups)

In [9]:
data_duplicates(ds_no_dups, ignore_columns=["col3"])

,col1,col2
Number of Duplicates,,
5,1,1
5,2,2