In [ ]:
pip install -e "/mnt/c/Users/Shir/Documents/Git/MLChecks"

In [1]:
# from sklearn.ensemble import AdaBoostClassifier
from sklearn.datasets import load_iris
import pandas as pd

# clf = AdaBoostClassifier()
iris = load_iris()
X = iris.data

In [2]:
from IPython.core.display import display, HTML

In [3]:
from mlchecks.checks.integrity.is_single_value import is_single_value

is_single_value(pd.DataFrame(X))

/mnt/c/Users/Shir/Documents/Git/MLChecks/mlchecks/base/dataset.py:56: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._features = [x for x in df.columns if x not in {label, index, date}]
/mnt/c/Users/Shir/Documents/Git/MLChecks/mlchecks/base/dataset.py:66: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._cat_features = self.infer_categorical_features()

False

In [4]:
df = pd.DataFrame({'a':[3,4,1], 'b':[2,2,2], 'c':[None, None, None], 'd':['a', 4, 6]})
df

   a  b     c  d
0  3  2  None  a
1  4  2  None  4
2  1  2  None  6

In [8]:
df

   a  b     c  d
0  3  2  None  a
1  4  2  None  4
2  1  2  None  6

In [10]:
df.drop('e', axis=1)

KeyError: "['e'] not found in axis"

In [5]:
is_single_value(pd.DataFrame({'a':[3,4], 'b':[2,2], 'c':[None, None], 'd':['a', 4]}))

/mnt/c/Users/Shir/Documents/Git/MLChecks/mlchecks/base/dataset.py:56: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._features = [x for x in df.columns if x not in {label, index, date}]
/mnt/c/Users/Shir/Documents/Git/MLChecks/mlchecks/base/dataset.py:66: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._cat_features = self.infer_categorical_features()

True

In [5]:
is_single_value(pd.DataFrame({'a':[3,4], 'b':[2,2], 'c':[None, None], 'd':['a', 4]}))

/mnt/c/Users/Shir/Documents/Git/MLChecks/mlchecks/base/dataset.py:56: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._features = [x for x in df.columns if x not in {label, index, date}]
/mnt/c/Users/Shir/Documents/Git/MLChecks/mlchecks/base/dataset.py:66: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._cat_features = self.infer_categorical_features()

True

In [37]:
display(HTML(ee.loc[1:,:].T.to_html(header=False)))