In [1]:
from mlchecks.checks import mixed_nulls
import pandas as pd

In [2]:
data = {'col1': ['nan', 'null', 'null', 'Nan', '1', 'cat']}
dataframe = pd.DataFrame(data=data)
mixed_nulls(dataframe)

/Users/matan/deepchecksv2/mlchecks/mlchecks/base/dataset.py:57: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._features = [x for x in df.columns if x not in {label, index, date}]
/Users/matan/deepchecksv2/mlchecks/mlchecks/base/dataset.py:67: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._cat_features = self.infer_categorical_features()

                   Count  Percentage
Column Name Value
col1        null       2        0.33
            nan        1        0.17
            Nan        1        0.17

In [3]:
data = {'col1': ['nan', 'null', 'null', 'Nan', '1', 'cat'], 'col2':['', '', 'None', 'a', 'b', 'c'], 'col3': [1,2,3,4,5,6]}
dataframe = pd.DataFrame(data=data)
mixed_nulls(dataframe)

/Users/matan/deepchecksv2/mlchecks/mlchecks/base/dataset.py:57: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._features = [x for x in df.columns if x not in {label, index, date}]
/Users/matan/deepchecksv2/mlchecks/mlchecks/base/dataset.py:67: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self._cat_features = self.infer_categorical_features()

                   Count  Percentage
Column Name Value
col1        null       2        0.11
            nan        1        0.06
            Nan        1        0.06
col2                   2        0.11
            None       1        0.06