In [1]:
from mlchecks.checks.integrity.new_label import new_label_train_validation
from mlchecks.base import Dataset
import pandas as pd

In [2]:
test_data = {"col1": ["somebody", "once", "told", "me"] * 10}
val_data = {"col1": ["the","world","is", "gonna", "role", "me"] * 10}
test = Dataset(pd.DataFrame(data=test_data), label="col1")
val = Dataset(pd.DataFrame(data=val_data), label="col1")

In [3]:
new_label_train_validation(val, test)

,ratio of new labels in sample,new labels
label column,,
col1,0.833333,"{'is', 'the', 'role', 'gonna', 'world'}"

In [4]:
test_data = {"col1": ["a", "b", "a", "c"] * 10, "col2": ['a','b','b','q']*10}
val_data = {"col1": ["a","b","d"] * 10, "col2": ['a', '2', '1']*10}
test = Dataset(pd.DataFrame(data=test_data), label="col2")
val = Dataset(pd.DataFrame(data=val_data), label="col2")

In [5]:
new_label_train_validation(val, test)

,ratio of new labels in sample,new labels
label column,,
col2,0.666667,"{'2', '1'}"