# Data Duplicates

In [1]:
from deepchecks.checks.integrity.data_duplicates import DataDuplicates
from deepchecks.base import Dataset, Suite
from datetime import datetime
import pandas as pd

In [2]:
ds = pd.DataFrame({"col1":[1,2,1,2,1,2,1,2,1,2], "col2":[1,2,1,2,1,2,1,2,1,2],"col3":[2,3,4,4,4,3,4,5,6,4]})

In [3]:
DataDuplicates().run(ds)

,,col1,col2,col3
Instances,Number of Duplicates,,,
"2, 4, 6",3,1,1,4
"1, 5",2,2,2,3
"3, 9",2,2,2,4

In [4]:
DataDuplicates(n_to_show=2).run(ds)

,,col1,col2,col3
Instances,Number of Duplicates,,,
"2, 4, 6",3,1,1,4
"1, 5",2,2,2,3

In [5]:
DataDuplicates(columns=["col1"]).run(ds)

,,col1
Instances,Number of Duplicates,
"0, 2, 4, 6, 8",5,1
"1, 3, 5, 7, 9",5,2

In [6]:
DataDuplicates(ignore_columns=["col3"]).run(ds)

,,col1,col2
Instances,Number of Duplicates,,
"0, 2, 4, 6, 8",5,1,1
"1, 3, 5, 7, 9",5,2,2

In [7]:
ds_no_dups = ds = pd.DataFrame({"col1":[1,2,1,2,1,2,1,2,1,2], "col2":[1,2,1,2,1,2,1,2,1,2], "col3":[1,2,3,4,5,6,7,8,9,0]})

In [8]:
DataDuplicates().run(ds_no_dups)

In [9]:
DataDuplicates(ignore_columns=["col3"]).run(ds_no_dups)

,,col1,col2
Instances,Number of Duplicates,,
"0, 2, 4, 6, 8",5,1,1
"1, 3, 5, 7, 9",5,2,2