# Is Single Value

## Imports

In [1]:
from sklearn.datasets import load_iris
import pandas as pd
from deepchecks.checks.integrity.is_single_value import IsSingleValue

## Load data

In [2]:
iris = load_iris()
X = iris.data
df = pd.DataFrame({'a':[3,4,1], 'b':[2,2,2], 'c':[None, None, None], 'd':['a', 4, 6]})
df

   a  b     c  d
0  3  2  None  a
1  4  2  None  4
2  1  2  None  6

## See functionality

In [3]:
IsSingleValue().run(pd.DataFrame(X))

In [4]:
IsSingleValue().run(pd.DataFrame({'a':[3,4], 'b':[2,2], 'c':[None, None], 'd':['a', 4]}))

,b,c
Single unique value,2,None

In [5]:
sv = IsSingleValue()
sv.run(df)

,b,c
Single unique value,2,None

In [6]:
sv_ignore = IsSingleValue(ignore_columns=['b','c'])
sv_ignore.run(df)