# Mixed Nulls

In [1]:
from deepchecks.checks import MixedNulls
import pandas as pd

In [2]:
data = {'col1': ['sog', '1', 'cat', None, None]}
dataframe = pd.DataFrame(data=data)
MixedNulls().run(dataframe)

In [3]:
data = {'col1': ['nan', None, 'null', 'Nan', '1', 'cat'], 'col2':['', '', 'None', 'a', 'b', 'c'], 'col3': [1,2,3,4,5,6]}
dataframe = pd.DataFrame(data=data)
MixedNulls().run(dataframe)