# Mixed Nulls

In [1]:
from deepchecks.tabular.checks import MixedNulls
import pandas as pd

/home/yura/Projects/deepchecks/deepchecks/venv/lib/python3.8/site-packages/statsmodels/compat/pandas.py:65: FutureWarning:

pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.

In [2]:
data = {'col1': ['sog', '1', 'cat', None, None]}
dataframe = pd.DataFrame(data=data)
MixedNulls().run(dataframe)

In [3]:
data = {'col1': ['nan', None, 'null', 'Nan', '1', 'cat'], 'col2':['', '', 'None', 'a', 'b', 'c'], 'col3': [1,2,3,4,5,6]}
dataframe = pd.DataFrame(data=data)
MixedNulls().run(dataframe)

/home/yura/Projects/deepchecks/deepchecks/deepchecks/core/display_pandas.py:54: FutureWarning:

this method is deprecated in favour of `Styler.to_html()`