# New Label

In [1]:
from deepchecks.checks.integrity.new_label import NewLabelTrainTest
from deepchecks.base import Dataset
import pandas as pd

In [2]:
test_data = {"col1": [0, 1, 2, 3] * 10}
val_data = {"col1": [4, 5, 6, 7, 8, 9] * 10}
test = Dataset(pd.DataFrame(data=test_data), label_name="col1")
val = Dataset(pd.DataFrame(data=val_data), label_name="col1")

In [3]:
NewLabelTrainTest().run(test, val)

,Percent new labels in sample,New labels
Label column,,
col1,100%,"[4, 5, 6, 7, 8, 9]"

In [4]:
test_data = {"col1": ["a", "b", "a", "c"] * 10, "col2": [1,2,2,3]*10}
val_data = {"col1": ["a","b","d"] * 10, "col2": [1, 4, 5]*10}
test = Dataset(pd.DataFrame(data=test_data), label_name="col2")
val = Dataset(pd.DataFrame(data=val_data), label_name="col2")

In [5]:
NewLabelTrainTest().run(test, val)

,Percent new labels in sample,New labels
Label column,,
col2,66.67%,"[4, 5]"