## Import

In [1]:
import pandas as pd
from sklearn.datasets import load_iris

## Load data and split train-val

In [2]:
iris_df = load_iris(return_X_y=False, as_frame=True)['frame']
train_len = round(0.67*len(iris_df))
df_train = iris_df[:train_len]
df_test = iris_df[train_len:]

## Check data integrity

In [3]:
from deepchecks.suites import integrity_suite

In [4]:
integrity_suite().run(train_dataset=df_train, test_dataset=df_test, check_datasets_policy='both')

Status,Check,Condition,More Info
✖,Data Duplicates - Test Dataset,Duplicate data is not greater than 0%,Found 2.00% duplicate data
✖,Dominant Frequency Change,Change in ratio of dominant value in data not more than 25.00%,Found columns with high change in dominant value: ['target']
✖,Single Value in Column - Test Dataset,Does not contain only a single value for all columns,Columns containing a single value: ['target']
✓,Mixed Nulls - Train Dataset,Not more than 1 different null types for all columns,
✓,String Mismatch Comparison,No new variants allowed in test data for all columns,
✓,Special Characters - Test Dataset,Ratio of entirely special character samples not greater than 0.10% for all columns,
✓,Special Characters - Train Dataset,Ratio of entirely special character samples not greater than 0.10% for all columns,
✓,String Length Out Of Bounds - Test Dataset,Ratio of outliers not greater than 0% string length outliers for all columns,
✓,String Length Out Of Bounds - Train Dataset,Ratio of outliers not greater than 0% string length outliers for all columns,
✓,Rare Format Detection - Test Dataset,Rare formats ratio is not greater than 0,
✓,Rare Format Detection - Train Dataset,Rare formats ratio is not greater than 0,
✓,Data Duplicates - Train Dataset,Duplicate data is not greater than 0%,
✓,String Mismatch - Test Dataset,No string variants for all columns,
✓,String Mismatch - Train Dataset,No string variants for all columns,
✓,Mixed Types - Test Dataset,Rare type ratio is not less than 1.00% of samples in all columns,
✓,Mixed Types - Train Dataset,Rare type ratio is not less than 1.00% of samples in all columns,
✓,Mixed Nulls - Test Dataset,Not more than 1 different null types for all columns,
✓,Category Mismatch Train Test,Number of new category values is not greater than 0 for all columns,
✓,Single Value in Column - Train Dataset,Does not contain only a single value for all columns,

,target
Single unique value,2

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
Number of Duplicates,,,,,
2,5.80,2.70,5.10,1.90,2

,Value,Reference data %,Tested data %,Reference data #,Tested data #,P value
petal width (cm),0.20,29.00,0.00,29,0,0.00
target,2.00,0.00,100.00,0,50,0.00

Check,Reason
New Label Train Test,DeepchecksValueError: Check NewLabelTrainTest requires dataset to have a label column
Label Ambiguity,DeepchecksValueError: Check LabelAmbiguity requires dataset to be of type Dataset. instead got: DataFrame
String Mismatch Comparison,Nothing found
Special Characters - Test Dataset,Nothing found
Special Characters - Train Dataset,Nothing found
String Length Out Of Bounds - Test Dataset,Nothing found
String Length Out Of Bounds - Train Dataset,Nothing found
Rare Format Detection - Test Dataset,Nothing found
Single Value in Column - Train Dataset,Nothing found
Data Duplicates - Train Dataset,Nothing found
String Mismatch - Test Dataset,Nothing found
String Mismatch - Train Dataset,Nothing found
Mixed Types - Test Dataset,Nothing found
Mixed Types - Train Dataset,Nothing found
Mixed Nulls - Test Dataset,Nothing found
Mixed Nulls - Train Dataset,Nothing found
Category Mismatch Train Test,Nothing found
Rare Format Detection - Train Dataset,Nothing found