## Import

In [1]:
import pandas as pd
from sklearn.datasets import load_iris

## Load data and split train-val

In [2]:
iris_df = load_iris(return_X_y=False, as_frame=True)['frame']
train_len = round(0.67*len(iris_df))
df_train = iris_df[:train_len]
df_val = iris_df[train_len:]

## Check data integrity

In [3]:
from mlchecks.suites import IntegrityCheckSuite

In [4]:
IntegrityCheckSuite.run(train_dataset=df_train, validation_dataset=df_val, check_datasets_policy='both')

VBox(children=(HTML(value=''), IntProgress(value=0, bar_style='info', max=9, style=ProgressStyle(bar_color='#9…

Status,Check,Condition,More Info
✓,Mixed Nulls - Train Dataset,Not more than 1 different null types for all columns,
✓,Mixed Nulls - Validation Dataset,Not more than 1 different null types for all columns,
✓,Mixed Types - Train Dataset,Rare type ratio is not less than 1.00% of samples in all columns,
✓,Mixed Types - Validation Dataset,Rare type ratio is not less than 1.00% of samples in all columns,
✓,String Mismatch - Train Dataset,No string variants for all columns,
✓,String Mismatch - Validation Dataset,No string variants for all columns,
✓,String Mismatch Comparison,No new variants allowed in validation data for all columns,

Check
Single Value in Column - Train Dataset
Single Value in Column - Validation Dataset
Data Duplicates - Train Dataset
Data Duplicates - Validation Dataset
Rare Format Detection - Train Dataset
Rare Format Detection - Validation Dataset
Special Characters - Train Dataset
Special Characters - Validation Dataset
Category Mismatch Train Validation

,target
Single unique value,2

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
Number of Duplicates,,,,,
2,5.800000,2.700000,5.100000,1.900000,2

Check
Single Value in Column - Train Dataset
Mixed Nulls - Train Dataset
Mixed Nulls - Validation Dataset
Mixed Types - Train Dataset
Mixed Types - Validation Dataset
String Mismatch - Train Dataset
String Mismatch - Validation Dataset
Data Duplicates - Train Dataset
Rare Format Detection - Train Dataset
Rare Format Detection - Validation Dataset
Special Characters - Train Dataset
Special Characters - Validation Dataset
String Mismatch Comparison
Category Mismatch Train Validation

In [5]:
IntegrityCheckSuite

Integrity Suite: [
	0: IsSingleValue
	1: MixedNulls(check_nan=True)
		Conditions:
			0: Not more than 1 different null types for all columns
	2: MixedTypes
		Conditions:
			0: Rare type ratio is not less than 1.00% of samples in all columns
	3: StringMismatch
		Conditions:
			0: No string variants for all columns
	4: DataDuplicates(n_to_show=5)
	5: RareFormatDetection(patterns=[Pattern(digits and letters format (case sensitive)), Pattern(digits and letters format), Pattern(digits only format (ignoring letters)), Pattern(letters only format (ignoring digits)), Pattern(digits or letters format), Pattern(sequences of digits only format (ignoring letters)), Pattern(sequences of letters only format (ignoring letters)), Pattern(any sequence format)], rarity_threshold=0.05, min_unique_common_ratio=0.01, pattern_match_method=first)
	6: SpecialCharacters(n_most_common=2)
	7: StringMismatchComparison
		Conditions:
			0: No new variants allowed in validation data for all columns
	8: CategoryMismatchTrainValidation
]