## Import

In [1]:
import pandas as pd
from sklearn.datasets import load_iris

## Load data and split train-val

In [2]:
iris_df = load_iris(return_X_y=False, as_frame=True)['frame']
train_len = round(0.67*len(iris_df))
df_train = iris_df[:train_len]
df_test = iris_df[train_len:]

## Check data integrity

In [3]:
from deepchecks.suites import IntegrityCheckSuite

In [4]:
IntegrityCheckSuite.run(train_dataset=df_train, test_dataset=df_test, check_datasets_policy='both')

Status,Check,Condition,More Info
✓,Mixed Nulls - Train Dataset,Not more than 1 different null types for all columns,
✓,Mixed Nulls - Test Dataset,Not more than 1 different null types for all columns,
✓,Mixed Types - Train Dataset,Rare type ratio is not less than 1.00% of samples in all columns,
✓,Mixed Types - Test Dataset,Rare type ratio is not less than 1.00% of samples in all columns,
✓,String Mismatch - Train Dataset,No string variants for all columns,
✓,String Mismatch - Test Dataset,No string variants for all columns,
✓,Rare Format Detection - Train Dataset,Rare formats ratio upper bound,
✓,Rare Format Detection - Test Dataset,Rare formats ratio upper bound,
✓,String Mismatch Comparison,No new variants allowed in test data for all columns,

,target
Single unique value,2

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
Number of Duplicates,,,,,
2,5.80,2.70,5.10,1.90,2

Check,Reason
IsSingleValue,Nothing found
MixedNulls,Nothing found
MixedNulls,Nothing found
MixedTypes,Nothing found
MixedTypes,Nothing found
StringMismatch,Nothing found
StringMismatch,Nothing found
DataDuplicates,Nothing found
RareFormatDetection,Nothing found
RareFormatDetection,Nothing found
SpecialCharacters,Nothing found
SpecialCharacters,Nothing found
StringMismatchComparison,Nothing found
CategoryMismatchTrainTest,Nothing found