## Import

In [1]:
import pandas as pd
from sklearn.datasets import load_iris

## Load data and split train-val

In [2]:
iris_df = load_iris(return_X_y=False, as_frame=True)['frame']
train_len = round(0.67*len(iris_df))
df_train = iris_df[:train_len]
df_val = iris_df[train_len:]

## Check data integrity

In [3]:
from mlchecks.suites import IntegrityCheckSuite

In [4]:
IntegrityCheckSuite.run(train_dataset=df_train, validation_dataset=df_val, check_datasets_policy='both')

VBox(children=(HTML(value=''), IntProgress(value=0, bar_style='info', max=2, style=ProgressStyle(bar_color='#9…

VBox(children=(HTML(value=''), IntProgress(value=0, bar_style='info', max=7, style=ProgressStyle(bar_color='#9…

VBox(children=(HTML(value=''), IntProgress(value=0, bar_style='info', max=2, style=ProgressStyle(bar_color='#9…

,target
Single unique value,2

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
Number of Duplicates,,,,,
2,5.800000,2.700000,5.100000,1.900000,2

,Percent of new categories in sample,New categories
Column,,
sepal length (cm),24.00%,"[7.1, 7.2, 7.3, 7.4, 7.6, 7.7, 7.9]"
petal length (cm),68.00%,"[5.2, 5.3, 5.4, 5.5, 5.6, 5.7, 5.8, 5.9, 6.0, 6.1, 6.3, 6.4, 6.6, 6.7, 6.9]"
petal width (cm),68.00%,"[1.9, 2.0, 2.1, 2.2, 2.3, 2.4, 2.5]"
target,100%,[2]